{% extends 'base.html' %}
{%
    set page_title = "Distribution of earnings - by area"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on inequality in hourly pay between high earners and low earners.
            </p>

            {% macro data_caption() %}
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                    Ratio of hourly earnings between:
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-1">
                    <li>90th percentile (‘high earners’) – they earn more than 90% of people, and</li>
                    <li>10th percentile (‘low earners’) – they earn less than 90% of people</li>
                </ul>
                <p class="govuk-body">
                    See
                    <a href="#what-the-data-measures" class="govuk-link">
                        what the data measures</a>
                    for a complete explanation.
                </p>
            {% endmacro %}
            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download(csv_file='DR11_area.csv', table_csv_file='DR11_area-pretty.csv', data_caption=data_caption()) }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
