{% extends 'base.html' %}
{%
    set page_title = "Distribution of earnings - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on inequality in hourly pay between high earners and low earners.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                Inequality in hourly pay between high and low earners got narrower between 2011 and 2021.
            </p>
            <p class="govuk-body">
                From 1997 to 2011, ‘high earners’ (people in the 90th percentile for hourly pay) earned around 4 times
                as much as ‘low earners’ (people in the 10th percentile).
            </p>
            <p class="govuk-body">
                Inequality in hourly pay then went down every year over the next 10 years. In 2021, higher earners
                earned around 3.2 times as much as low earners.
            </p>
            <p class="govuk-body">
                Inequality in hourly pay was higher in England than Scotland, Wales and Northern Ireland.
                In England, wage inequality was highest in London.
            </p>

            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download() }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
