{% extends 'base.html' %}
{%
    set page_title = "Distribution of parental education - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on the highest qualification levels of parents of 5 to 18 year olds.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                The percentage of families where the adults had higher levels of qualification (degree and above) went up between 2014 and and 2021.
            </p>
            <p class="govuk-body">
                41% of adults in families with dependent children had a higher level of education in 2021, up from 30% in 2014.
            </p>
            <p class="govuk-body">
                13% of adults in families with dependent children had a lower level of education in 2021, down from 17% in 2014.
            </p>

            <p class="govuk-body">
                PLACEHOLDER_FOR_CHART_DATA_DOWNLOAD
            </p>

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
