{% extends 'base.html' %}
{%
    set page_title = "Occupational level of 25 to 29 year olds - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on the occupational level of jobs taken by 25 to 29 year olds in the UK (2014 to 2021).
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                From 2014 to 2021, the percentage of 25 to 29 year olds in professional and managerial jobs went up from 38% to 44%.
            </p>
            <p class="govuk-body">
                The percentage in working class jobs went down from 41% to 33%. This was mainly due to the percentage in
                skilled manual work (‘higher working class’) going down from 25% to 17%.
            </p>
            <p class="govuk-body">
                In the 3 years to 2021, the south-east had the highest percentage of 25 to 29 year olds in higher
                professional jobs out of all regions. Scotland and the north-east had the lowest percentages.
            </p>
            <p class="govuk-body">
                The highest percentages of 25 to 29 year olds in lower working class jobs were in Northern Ireland,
                parts of Scotland and Wales, and some metropolitan areas. Most regions in the south-east had the lowest percentages.
            </p>
            <p class="govuk-body">
                In London, the percentages of 25 to 29 year olds in both higher professional and lower working class
                occupations were higher than the national average.
            </p>

            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download() }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
