{% extends 'base.html' %}
{%
    set page_title = "Job vacancy rate - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on the number of vacancies per unemployed person in the UK from 2001 onwards.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                There were more vacancies per jobseeker in 2021 than at any time in the previous 20 years.
            </p>
            <p class="govuk-body">
                The job vacancy rate was at its lowest between 2008 and 2011, at under 0.2 vacancies for every unemployed person.
            </p>
            <p class="govuk-body">
                It was at its highest in 2021, at around 0.9 vacancies for every unemployed person.
            </p>

            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download() }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
