{% macro data_table(csv_file_name, data_caption) %}

    {% set data_frame = csv_file_name | read_csv %}

    {% if data_caption %}
        <div role="caption" id="data-table-caption"
             class="govuk-table__caption govuk-table__caption--s"
             style="display: block;">
            {{ data_caption }}
        </div>
    {% endif %}
    <table class="govuk-table" style="width: fit-content;" {% if data_caption %} aria-describedby="data-table-caption" {% endif %}>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {% for column_name in data_frame.columns %}
                    <th scope="col" class="govuk-table__header">
                        {{ column_name }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for row_id in data_frame.index %}
                <tr class="govuk-table__row">
                    {% for column_name in data_frame.columns %}
                        <td class="govuk-table__cell" style="{{ 'text-align: right;' if (data_frame.dtypes.at[column_name] in ['int64', 'float64']) else '' }}">
                            {% if data_frame.isna().at[row_id, column_name] %}
                                <span style="color: #b1b4b6;">
                                    n/a
                                </span>
                            {% else %}
                                {{ data_frame.at[row_id, column_name] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}
