{% extends 'base.html' %}
{%
    set page_title = "Distribution of parental occupation - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on the occupation level of adults in families with dependent children.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                The percentage of adults in families who were in professional and managerial occupations went up between 2014 and 2021.
            </p>
            <p class="govuk-body">
                21.8% of adults in families were in ‘higher professional’ occupations in 2021, up from 14.2% in 2014.
            </p>
            <p class="govuk-body">
                27.9% of adults in families were in upper or lower working class occupations in 2021, down from 39.3% in 2014.
            </p>

            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download(csv_file='DR14_overview.csv', table_csv_file='DR14_overview-pretty.csv') }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
