{% extends 'base.html' %}
{%
    set page_title = "Childhood poverty - overview"
%}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">
                {{ page_title }}
            </h1>

            <p class="govuk-body">
                Data on the number of children living in relative poverty after housing costs.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Summary main findings
            </h2>
            <p class="govuk-body">
                The percentage of children living in relative poverty has gone up since 2010, but is below the levels reached in the 1990s.
            </p>
            <p class="govuk-body">
                Between 2014 and 2019, the percentage of children living in relative poverty stayed roughly the same at 30%.
            </p>
            <p class="govuk-body">
                The metropolitan areas of Greater London, Greater Manchester, and the West Midlands have some of the highest levels of childhood poverty.
            </p>

            {% from 'components/chart-data-download.html' import chart_data_download %}
            {{ chart_data_download() }}

            {% include current_template_dir + '/_about-the-data.html' %}

        </div>
    </div>
{% endblock %}
